nodered
[{"id":"616e1d90.45bb54","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df3784b5.e41fb8","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":280,"wires":[["6e40d552.35d864"]]},{"id":"a92bc86.c80b0b8","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":340,"wires":[["6e40d552.35d864"]]},{"id":"bfa329d9.12925","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":400,"wires":[["6e40d552.35d864"]]},{"id":"76710294.4effac","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":460,"wires":[["6e40d552.35d864"]]},{"id":"db991f91.568fe8","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":520,"wires":[["6e40d552.35d864"]]},{"id":"c7f35d53.65c7f8","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":580,"wires":[["6e40d552.35d864"]]},{"id":"eff09181.b018a8","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6007","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":640,"wires":[["6e40d552.35d864"]]},{"id":"8fe05e3e.ae1cd8","type":"tcp in","z":"616e1d90.45bb54","name":"","server":"client","host":"localhost","port":"6008","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":170,"y":700,"wires":[["6e40d552.35d864"]]},{"id":"63e3c8af.965b","type":"change","z":"616e1d90.45bb54","name":"SetTime","rules":[{"t":"set","p":"time","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["ed8853de.253298"]]},{"id":"6e40d552.35d864","type":"function","z":"616e1d90.45bb54","name":"Req Params","func":"var str = msg.payload;\nvar ids = str.split(\" \");\n\n//filter out the debug messages, they are all strings\n// with more than 2 words\nif(ids.length > 2){ return;}\n\nmsg.event = \"closeness_alert\";\nmsg.payload = {\"value1\": ids[0], \"value2\": ids[1]};\nmsg.time = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["63e3c8af.965b","a5606a41.66c51"]]},{"id":"ed8853de.253298","type":"http request","z":"616e1d90.45bb54","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/closeness_alert/with/key/evJHKtL7Tpga8xAXGIj8746oudYrePDDq7QV2iWUs49","tls":"","x":860,"y":480,"wires":[["98c0d9e6.10602"]]},{"id":"98c0d9e6.10602","type":"debug","z":"616e1d90.45bb54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1007,"y":480,"wires":[]},{"id":"a5606a41.66c51","type":"debug","z":"616e1d90.45bb54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":420,"wires":[]}]
